<ng-container>
  <div
    #wrapper
    class="dialog-wrapper">
    <div
      #header
      class="dialog-header">
      <strong>{{ item.value }}</strong>
      <small>{{ item.translation }}</small>
    </div>
    <div
      #content
      class="dialog-content">
      <div #info>
        <div [hidden]="item.type === type.Romaji">{{ item.word.romaji }}</div>
        <div [hidden]="item.type === type.Kana">{{ item.word.kana }}</div>
        <div [hidden]="item.type === type.Kanji">{{ item.word.kanji }}</div>
      </div>
      <div
        #more_info
        *ngIf="item.word.more_info">
        <div [hidden]="!item.word.more_info.other_translations">
          {{ item.word.more_info.other_translations }}
        </div>
        <div [hidden]="!item.word.more_info.detail_translation">
          {{ item.word.more_info.detail_translation }}
        </div>
      </div>
    </div>
    <div
      #footer
      class="dialog-footer">
      <app-button-generic
        iconType="pi pi-check"
        (click)="closeEvent.emit()"></app-button-generic>
    </div>
  </div>
</ng-container>
