<div class="home-layout">
  <p-button
    label="Vocabulario"
    [rounded]="true"
    class="circle-btn"
    (click)="router.navigate([path.VOCABULARY])"></p-button>
  <p-button
    label="Alfabeto"
    [rounded]="true"
    severity="secondary"
    class="circle-btn"
    (click)="router.navigate([path.ALPHABET])"></p-button>
  <p-button
    label="Partículas"
    [rounded]="true"
    severity="success"
    class="circle-btn"
    (click)="router.navigate([path.PARTICLE])"></p-button>
  <p-button
    label="Otros"
    [rounded]="true"
    severity="help"
    class="circle-btn"></p-button>
</div>
