<ng-container>
  <div class="header-resume-container">
    <app-button-generic
      iconType="pi pi-times"
      shape="rounded"
      (click)="router.navigate([previousPath])"></app-button-generic>
    <p-dropdown
      class="resume-dropdown"
      [options]="vocabularyOptions"
      [(ngModel)]="selectedValueOption"
      optionLabel="label"
      [filter]="true"
      filterBy="label"
      (onChange)="selectOnChange($event.value.value)"></p-dropdown>
  </div>

  <div class="panel-tab">
    <app-tab
      [tabs]="tabs"
      [activeTab]="tabSelected.title"
      (selectedTab)="tabSelected = $event"></app-tab>
    <div class="container-resume-word">
      <ng-container *ngFor="let item of tabSelected.content">
        <div class="item-word-container">
          <div class="word-item">
            <span>
              {{ item.value }}
            </span>
            <span> {{ item.translation }} </span>
          </div>
          <span class="icon-word">
            <app-button-generic
              iconType="pi pi-plus-circle"
              shape="rounded"
              background="transparent"
              (click)="openDetail(item)"></app-button-generic>
          </span>
        </div>
      </ng-container>
    </div>
  </div>

  <div #dialog>
    <p-dialog
      class="dialog"
      [(visible)]="visible"
      [modal]="true"
      position="center"
      [maximizable]="true">
      <ng-template pTemplate="headless">
        <app-detail-word
          [item]="itemSelected"
          (closeEvent)="visible = false"></app-detail-word>
      </ng-template>
    </p-dialog>
  </div>
</ng-container>
