<ng-container>
  <div class="header-resume-container">
    <app-button-generic
      iconType="pi pi-times"
      shape="rounded"
      (click)="router.navigate([previousPath])"></app-button-generic>
    <div class="autocomplete">
      <input
        class="generic-input"
        type="text"
        placeholder="Pick one"
        [formControl]="control"
        [matAutocomplete]="auto" />
      <mat-autocomplete
        #auto="matAutocomplete"
        [displayWith]="displayFn">
        @for (option of filteredOptions | async; track option) {
        <mat-option
          (onSelectionChange)="selectOnChange($event.source.value.value)"
          [value]="option"
          >{{ option.label }}</mat-option
        >
        }
      </mat-autocomplete>
    </div>
  </div>

  <div class="panel-tab">
    <app-tab
      [tabs]="tabs"
      [activeTab]="tabSelected.title"
      (selectedTab)="tabSelected = $event"></app-tab>
    <div class="container-resume-word">
      <ng-container *ngFor="let item of tabSelected.content">
        <div class="item-word-container">
          <div class="word-item">
            <span>
              {{ item.value }}
            </span>
            <span> {{ item.translation }} </span>
          </div>
          <span class="icon-word">
            <app-button-generic
              iconType="pi pi-plus-circle"
              shape="rounded"
              background="transparent"
              (click)="openDetail(item)"></app-button-generic>
          </span>
        </div>
      </ng-container>
    </div>
  </div>
</ng-container>
