<div class="resume-page">
  <div class="header-close">
    <app-button-generic
      iconType="pi pi-times"
      shape="rounded"
      (click)="router.navigate([previousPath])"></app-button-generic>
  </div>
  <div class="header-nav">
    <app-button-generic
      shape="rounded"
      [background]="
        itemSelected !== routesEnum.HIRAGANA ? 'outline' : undefined
      "
      size="small"
      (click)="router.navigate([paths.hiragana_resume])"
      label="ひ"></app-button-generic>
    <app-button-generic
      shape="rounded"
      [background]="
        itemSelected !== routesEnum.KATAKANA ? 'outline' : undefined
      "
      size="small"
      (click)="router.navigate([paths.katakana_resume])"
      label="カ"></app-button-generic>
    <app-button-generic
      shape="rounded"
      [background]="itemSelected !== routesEnum.KANJI ? 'outline' : undefined"
      size="small"
      (click)="router.navigate([paths.kanji_resume])"
      label="漢字"></app-button-generic>
  </div>
</div>
<div class="panel-tab">
  <app-tab
    [tabs]="tabs"
    [activeTab]="tabSelected.title"
    (selectedTab)="selectTab($event)"></app-tab>
  <div class="container-resume-letter">
    <ng-container *ngFor="let item of tabSelected.content">
      <div class="item-letter {{ tabSelected.itemClass }}">
        <app-item-letter-resume-shared
          [item]="item"></app-item-letter-resume-shared>
      </div>
    </ng-container>
  </div>
</div>
