<ng-container *ngIf="!activityStarted; else letter">
  <div class="activity-layout">
    <div class="activity-header space-btw">
      <app-button-generic
        label="{{ activityInput.btnL.label }}"
        shape="rounded"
        (click)="
          router.navigate([activityInput.btnL.path])
        "></app-button-generic>
      <h1>{{ activityInput.title }}</h1>
      <app-button-generic
        label="{{ activityInput.btnR.label }}"
        shape="rounded"
        (click)="
          router.navigate([activityInput.btnR.path])
        "></app-button-generic>
    </div>
    <div class="activity-body">
      <!-- Cuerpo de la activity -->
      <div>
        <p-selectButton
          [options]="complexityOptions"
          [(ngModel)]="complexityValue"
          [allowEmpty]="false"
          optionLabel="label"
          optionValue="value"></p-selectButton>
      </div>
      <div>
        <p-selectButton
          [options]="typeOptions"
          [(ngModel)]="typeValue"
          [allowEmpty]="false"
          optionLabel="label"
          optionValue="value"></p-selectButton>
      </div>
      <div class="btn-start">
        <app-button-generic
          [label]="startBtnLabel"
          shape="rounded"
          (click)="startActivity()"></app-button-generic>
        <app-button-generic
          iconType="pi {{ justLook ? 'pi-eye' : 'pi-eye-slash' }}"
          shape="rounded"
          (click)="justLook = !justLook"></app-button-generic>
      </div>
    </div>
    <div class="activity-footer one-btn">
      <app-button-generic
        iconType="pi pi-bookmark"
        shape="rounded"
        (click)="
          router.navigate([activityInput.resumePath])
        "></app-button-generic>
    </div>
  </div>
</ng-container>

<ng-template #letter>
  <app-letter-activity-shared
    (closeActivityEvent)="activityStarted = false"
    [activityLayoutInput]="activityLayoutValue"
    [answerQuestionInput]="answerQuestionValue"></app-letter-activity-shared>
</ng-template>
