<ng-container>
  <div class="activity-layout">
    <div class="activity-header space-btw">
      <p-button
        icon="pi pi-times"
        [rounded]="true"
        severity="secondary"
        (click)="closeActivityEvent.emit()"></p-button>
      <div class="btn-r">
        <p-button
          icon="pi pi-info-circle"
          [rounded]="true"
          severity="secondary"></p-button>
        <p-button
          icon="pi {{
            activityLayoutInput.justLook ? 'pi-eye' : 'pi-eye-slash'
          }}"
          [rounded]="true"
          severity="secondary"
          (click)="
            activityLayoutInput.justLook = !activityLayoutInput.justLook
          "></p-button>
      </div>
    </div>
    <div class="activity-body">
      <!-- Cuerpo de la activity -->
      <div>{{ questionValue }}</div>
    </div>
    <div class="activity-footer answer">
      <div>
        <div
          *ngIf="!activityLayoutInput.justLook"
          class="input-answer">
          <input
            pInputText
            id="answerInput"
            [(ngModel)]="answerValue" />
          <small id="answer-input-help">{{ answerHelpText }}</small>
        </div>
      </div>
      <div>
        <p-button
          [label]="nextBtnLabel"
          [rounded]="true"
          severity="secondary"
          (click)="validateAnswer()"></p-button>
      </div>
    </div>
  </div>
</ng-container>
<!-- Toast -->
<p-toast class="toast"></p-toast>
