<ng-container>
  <div class="activity-layout">
    <div class="activity-header space-btw">
      <app-button-generic
        iconType="pi pi-times"
        shape="rounded"
        (click)="closeActivityEvent.emit()"></app-button-generic>
      <div class="btn-r">
        <app-button-generic
          iconType="pi pi-info-circle"
          shape="rounded"></app-button-generic>
        <app-button-generic
          iconType="pi {{
            activityLayoutInput.justLook ? 'pi-eye' : 'pi-eye-slash'
          }}"
          shape="rounded"
          (click)="
            activityLayoutInput.justLook = !activityLayoutInput.justLook
          "></app-button-generic>
      </div>
    </div>
    <div class="activity-body">
      <!-- Cuerpo de la activity -->
      <span>{{ questionValue }}</span>
    </div>
    <div class="activity-footer answer">
      <div>
        <div
          *ngIf="!activityLayoutInput.justLook"
          class="input-answer">
          <input
            pInputText
            id="answerInput"
            [(ngModel)]="answerValue" />
          <small id="answer-input-help">{{ answerHelpText }}</small>
        </div>
      </div>
      <div>
        <app-button-generic
          [label]="nextBtnLabel"
          shape="rounded"
          (click)="validateAnswer()"></app-button-generic>
      </div>
    </div>
  </div>
</ng-container>
<!-- Toast -->
<p-toast class="toast"></p-toast>
