<ng-container>
  <div class="container">
    <p-toolbar>
      <div class="p-toolbar-group-start">
        <p-menu
          #menuNavigation
          [model]="itemsNavigation"
          [popup]="true"></p-menu>
        <button
          pButton
          type="button"
          (click)="menuNavigation.toggle($event)"
          icon="pi pi-bars"></button>
      </div>
      <div>
        <p-menu
          #menuOptions
          [model]="itemsOptions"
          [popup]="true"></p-menu>
        <button
          pButton
          type="button"
          (click)="menuOptions.toggle($event)"
          icon="pi pi-user"></button>
      </div>
    </p-toolbar>

    <div class="main-content">
      <router-outlet></router-outlet>
    </div>
  </div>
</ng-container>
