
@import './styles/styles';
@import "~@angular/cdk/overlay-prebuilt.css";

// Fijamos body y html con altura máxima para adjustarlo a toda la página
body {
    margin: 0;
    height: 100%; 
}
html {
    height: 100%;
    position: relative;
}

// Layout for selection with circles
.home-layout {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
}
// Layout for activity
.activity-layout {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    .activity-header {
        display: flex;
        flex-direction: row;
        align-items: center;
        &.center {
            justify-content: center;
        }
        &.space-btw {
            justify-content: space-between;
        }
    }
    .activity-body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        .btn-start {
            display: flex;
            gap: 1rem;
        }
    }
    .activity-footer {
        display: flex;
        align-items: center;
        &.answer {
            flex-direction: column;
            gap: 1rem;
        }
        &.one-btn {
            flex-direction: row;
            justify-content: flex-start;
        }
    }
}

// ItemsPerRow
.fiveItemsPerRow {
    flex: 0 1 calc(20% - 8px);
}
.threeItemsPerRow {
    flex: 0 1 calc(33% - 8px);
}

// CDK
.cdk-overlay-pane {
    background-color: white;
}
// Componentes
.generic-input {
    padding: 0.5rem;
    border: 1px solid blue;
    border-radius: 0.25rem;
    &:focus-visible {
        outline: none;
    }
}
// Material
.mat-mdc-option:hover {
    background-color: var(--light-blue) !important;
}
