<ng-container *ngIf="!activityStarted; else letter">
  <div class="activity-layout">
    <div class="activity-header center">
      <h1>{{ title }}</h1>
    </div>
    <div class="activity-body">
      <!-- Cuerpo de la activity -->
      <div>
        <p-multiSelect
          class="vocabulary-multiselect"
          [options]="typeOptions"
          [(ngModel)]="typeValues"
          placeholder="Selecciona un tipo"
          optionLabel="label"
          display="chip"
          [showClear]="true"></p-multiSelect>
      </div>
      <div>
        <p-selectButton
          [options]="firstConditionOptions"
          [(ngModel)]="firstConditionValue"
          [allowEmpty]="false"
          optionLabel="label"
          optionValue="value"></p-selectButton>
      </div>
      <div>
        <p-selectButton
          #answerSelectButton
          [options]="secondConditionOptions"
          [(ngModel)]="secondConditionValue"
          [allowEmpty]="false"
          optionLabel="label"
          optionValue="value"
          optionDisabled="disable"></p-selectButton>
      </div>
      <div class="btn-start">
        <p-button
          [label]="startBtnLabel"
          [rounded]="true"
          severity="secondary"
          (click)="startActivity()"></p-button>
        <p-button
          icon="pi {{ justLook ? 'pi-eye' : 'pi-eye-slash' }}"
          [rounded]="true"
          severity="secondary"
          (click)="justLook = !justLook"></p-button>
      </div>
    </div>
    <div class="activity-footer one-btn">
      <p-button
        icon="pi pi-bookmark"
        [rounded]="true"
        severity="secondary"
        (click)="router.navigate([resumePath])"></p-button>
    </div>
  </div>
</ng-container>

<ng-template #letter>
  <app-letter-activity-shared
    (closeActivityEvent)="activityStarted = false"
    [activityLayoutInput]="activityLayoutValue"
    [answerQuestionInput]="answerQuestionValue"></app-letter-activity-shared>
</ng-template>
