<ng-container *ngIf="!activityStarted; else letter">
  <div class="activity-layout">
    <div class="activity-header center">
      <h1>{{ title }}</h1>
    </div>
    <div class="activity-body">
      <!-- Cuerpo de la activity -->
      <div>
        <p-multiSelect
          class="vocabulary-multiselect"
          [options]="typeOptions"
          [(ngModel)]="typeValues"
          placeholder="Selecciona un tipo"
          optionLabel="label"
          display="chip"
          [showClear]="true"></p-multiSelect>
      </div>
      <app-button-select
        [options]="firstConditionOptions"
        (valueOutput)="firstConditionValue = $event.value"></app-button-select>
      <app-button-select
        [options]="secondConditionOptions"
        (valueOutput)="secondConditionValue = $event.value"></app-button-select>
      <div class="btn-start">
        <app-button-generic
          [label]="startBtnLabel"
          shape="rounded"
          (click)="startActivity()"></app-button-generic>
        <app-button-generic
          iconType="pi {{ justLook ? 'pi-eye' : 'pi-eye-slash' }}"
          shape="rounded"
          (click)="justLook = !justLook"></app-button-generic>
      </div>
    </div>
    <div class="activity-footer one-btn">
      <app-button-generic
        iconType="pi pi-bookmark"
        shape="rounded"
        (click)="router.navigate([resumePath])"></app-button-generic>
    </div>
  </div>
</ng-container>

<ng-template #letter>
  <app-letter-activity-shared
    (closeActivityEvent)="activityStarted = false"
    [activityLayoutInput]="activityLayoutValue"
    [answerQuestionInput]="answerQuestionValue"></app-letter-activity-shared>
</ng-template>

<p-toast></p-toast>
